# Python
__pycache__/
*.pyc
.venv/
venv/
.pytest_cache/
.ruff_cache/
.coverage
*.db
pytest-report.xml
# Node
node_modules/
dist/
# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
terraform.tfvars
# secrets / local env
.env
